.container-about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
  background-color: #333;
  color: white;
  font-family: 'Italiana', sans-serif;
}

.container-frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10%;
  border-radius: 10px;
  width: 80%;
  border: 2px solid white;
  padding: 20px;
}

p {
  text-align: justify;
  font-size: 20px;
  width: 100%;
  max-width: 500px;
  color: white;
  letter-spacing: 1px;
}

.about-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-right: 20px;
  margin-left: 20px;
  transition: transform 0.3s ease;
}
