.container-about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
  background-color: #333;
  color: white;
  font-family: 'Italiana', sans-serif;
}

.container-frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adjust the value for the desired spacing between items */
  margin-top: 10%;
  border-radius: 10px;
  background-color: blue;
  width: 70%;
}

.container-texts {
  text-align: justify;
  font-size: 20px;
  width: 100%;
  max-width: 400px;
  color: white;
  letter-spacing: 1px;
}

.container-texts p {
  width: 100%;
}

.about-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  transition: transform 0.3s ease;
}
