.container-about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 93vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: #333;
  color: white;
  font-family: 'Italiana', sans-serif;
}

.container-frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; /* Center items horizontally and vertically */
  margin-top: 10px;
  opacity: 0.85;
  margin: 20px;
  min-height: 60vh;
  width: 70%;
}

h1 {
  margin-top: 2%;
  font-size: 2em;
  width: 100%;
  margin-bottom: 20px;
}

.container-texts {
  text-align: justify;
  font-size: 20px;
  width: 500px;
  height: 500px;
  color: white;
  margin-right: 10%; /* Add margin between text and image */
  letter-spacing: 1px;
}

.container-texts p {
  width: 100%;
}

.about-image {
  width: 400px; /* Adjusted width to give half space to image */
  height: 500px;
  margin-top: 20px;
  margin-left: 20px; /* Adjusted margin */
  transition: transform 0.3s ease;
}
