.container-contacts-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 93vh;
  overflow: hidden;
  background-color: #333;
  color: white;
  font-family: 'Italiana', sans-serif;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-top: 50px;
}

.container-forms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 1px;
  opacity: 0.85;
  flex-direction: row;
  min-height: 60vh;
  width: 70%;
  margin-top: 20px; /* Adjust the margin-top as needed */
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 50%;
  margin: 10px;
}

.container-form-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 50%;
}

.container-form form,
.container-form-social form {
  width: 100%;
}

.container-form input,
.container-form textarea,
.container-form-social input,
.container-form-social textarea {
  width: calc(100% - 20px);
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Sometype Mono', monospace;
  letter-spacing: 1px;
  font-size: 16px;
  color: black;
}

.container-form input::placeholder,
.container-form textarea::placeholder,
.container-form-social input::placeholder,
.container-form-social textarea::placeholder {
  font-family: 'Sometype Mono', monospace;
  font-size: 16px;
  letter-spacing: 1px;
}

.container-form button,
.container-form-social button {
  width: calc(100% - 20px);
  padding: 15px;
  box-sizing: border-box;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Italiana', sans-serif;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: white;
}

.container-form button:hover,
.container-form-social button:hover {
  background-color: #194d42;
  color: white;
}

.container-form a,
.container-form-social a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.container-form a:hover,
.container-form-social a:hover {
  text-decoration: none;
  color: white;
}

.container-form-social ul {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  list-style: none;
  padding: 0;
  text-align: center;
}

.container-form-social li {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  transition: transform 0.3s;
}

.container-form-social li:hover {
  transform: scale(1.1);
}

.container-form-social li:hover i {
  color: #194d42;
}

.container-form-social i {
  margin-right: 10px;
  padding: 12px;
  font-size: 1.8em;
  color: white;
  transition: transform 0.3s;
}

.container-form-social i.fa-map-marker:hover {
  color: #194d42;
}

.container-form-social i.fa-phone:hover {
  color: #194d42;
}

.container-form-social i.fa-envelope:hover {
  color: #194d42;
}

.social-icons {
  margin: 8px;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
}

.social-icons i:hover {
  transform: scale(1.3);
  color: #194d42;
}

hr {
  width: 50%;
  border: none;
  border-top: 1px solid rgb(255, 255, 255);
  margin: 20px;
}

.copyright {
  margin: 20px;
  color: white;
  letter-spacing: 1px;
  text-align: center;
}
