/* Collection.css */

.container-page {
  display: flex;
  background-color: #333;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.collections-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px;
  margin-top: 150px;
  border-radius: 10px;
}

.collection-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 500px;
  margin-right: 60px;
  margin-bottom: 60px;
}

.collection-slider:hover {
  transform: scale(1.1);
}

.collection-image {
  background: rgba(0, 0, 0, 0.5);
  width: 600px;
  height: 500px;
  margin: 10px;
  transition: transform 0.3s ease;
}

.collection-image:hover {
  transform: scale(1.1);
}

/* Add this to your existing CSS */

.label-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  display: none;
}
