/* Footer.css */

.container {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  font-family: 'Italiana', sans-serif;
  font-size: 20px;
  min-height: 50px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 25px;
  margin: 0 0 10px 0;
}

.about-link {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}

/* social media */

.social-media {
  display: flex;
  flex-direction: column; /* Change to column on small screens */
  align-items: center;
}

.social-link {
  display: inline-flex;
  margin: 0 0 20px 0; /* Add spacing around the social links */
  color: #fff; /* Add your desired text color */
  text-decoration: none;
}

.social-link i {
  margin-left: 5px;
}

/* Add hover styles if desired */
.social-link:hover {
  text-decoration: none;
  color: #194d42;
}

/* Media query for smaller screens */
@media screen and (min-width: 600px) {
  .container {
    flex-direction: row;
  }

  .contacts,
  .social-media {
    flex-direction: row;
  }

  .logo {
    margin: 0 10px 0 0;
  }

  .about-link,
  .social-link {
    margin: 0 10px 0 0;
  }
}
